.container{
    width: 90%;
    margin: auto;
    margin-top: 5%;
}

.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 35px;
}
.m-top{
    margin-top: 1000px;
}